include topbar
div.container
	div.row
		div.span8#about
			h2 PACME:
			h3
				ol
					li Pennsylvania + Atlantic Coast + Metro East
					li Acronym for "Per-annum ACME" - our long term vision is to see PACME reach its maximum potential year after year. 

			p.
				PACME is an organization made up of several teams. We were founded to bridge the gap between college and club, and offer all current or recently graduated college players in the D.C. area a place to play.
				PACME prides itself on being a competitive, fun environment for players to improve their Ultimate skills.
			h3 Teams
			p 
				Swell (Team One) will be a highly competitive club team made up of some of the best college or recently graduated players in the area.
			p
				Push to Start (Team Two) will be made up of talented college players in need of club experience to improve their individual and team game. 

			p Last summer both teams competed in summer tournaments, and Swell finished 8th at Mid Atlantic Club Regionals.

			p For more information, email pacmeultimate@gmail.com
