include topbar
div.container-fluid
  div.row-fluid
    div.span8
      div.well#blurb
        h1 PACME 2012
        p.
          Are you interested in playing fun competitive club Ultimate in an environment focused on individual and team improvement?
          PACME is a D.C. Area club organization with several teams.
          Our goal is to improve the level of competition in the region and have fun.
      div#news
        h3 Recent Club News:
    div.span2#events
      h2 Upcoming Events:
      ul
        li None yet
