div.topbar
  div.logo
    a(href='/')
    img(src='/images/pacme.jpg')#logo
  div#nav
    ul.nav.nav-pills.nav-stacked
      li
        a(href='/') Home
      li
        a(href='/about') About
      li
        a(href='/tryouts2012') Tryouts 2012
      li
        a(href='/media') Media
      li
        a(href='/rosters') Rosters

  h1= title + ' | PACME Ultimate'
  h3 An Ultimate Frisbee Club Organization from Washington D.C.
