include topbar
div.container
	div.row
		div.span8#about
			h1 Tryouts
			p PACME will be holding joint tryouts with other area clubs, including Medicine Men and VA Squires, to ensure every player finds a team suitable to their skill level.
			p Tryouts will be held in May.
			h2 More information to come, email pacmeultimate@gmail.com to be added to the mailing list.
