body#body {
  background-color: #ccc;
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.10);
  color: #555;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
#logo {
  margin: 0;
  float: left;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid #000;
}
#events {
  background-color: #fff;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid #000;
}
#news {
  background-color: #fff;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid #000;
}
#footer,
text-align center,
width 580px,
margin-top 9px,
padding 5px018px,
border-top 1pxsolid #dfdfdf,
#footer p,
margin 5px0,
font-size 1em,
#nav {
  float: left;
  text-align: right;
  margin-right: auto;
  color: #006;
}
#about {
  text-align: left;
  background-color: #fff;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid #000;
}
#articles {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
#articles .article {
  margin: 20px;
}
#articles .article .created_at {
  display: none;
}
#articles .article .title {
  font-weight: bold;
  text-decoration: underline;
}
#articles .article .created_at {
  display: none;
}
#articles .article input[type =text] {
  width: 490px;
  margin-left: 16px;
}
#articles .article input[type =button],
#articles .article input[type =submit] {
  text-align: left;
  margin-left: 440px;
}
#articles .article textarea {
  width: 490px;
  height: 90px;
}
.slides_container {
  width: 700px;
  height: 422px;
  overflow: hidden;
  position: relative;
  display: none;
  padding: 5px;
  background-color: #fff;
}
#slides {
  position: relative;
  top: 15px;
  left: 4px;
  z-index: 100;
  width: 710;
  height: 500;
}
